@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: rgb(15, 15, 15);
  --transparent-black: rgba(15 15 15 / 0.85);
  --orange: #e77c40;
  --orange-accent: #944f27;
  --light-grey: #e6e6e6;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.App-main {
  flex-grow: 1;
}
